/*

Name:       Base16 OceanicNext Dark
Author:     https://github.com/voronianski/oceanic-next-color-scheme

Prism template by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/prism/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

code[class*="language-"],
pre[class*="language-"] {
  /* font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace; */
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: #1B2B34;
  color: #C0C5CE;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #575F64;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #575F64;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  /* margin: .5em 0; */
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #65737E;
}

.token.punctuation {
  color: #C0C5CE;
}

.token.namespace {
  opacity: .7;
}

.token.operator,
.token.boolean,
.token.number {
  color: #F99157;
}
.token.property {
  color: #FAC863;
}
.token.tag {
  color: #6699CC;
}
.token.string {
  color: #5FB3B3;
}
.token.selector {
  color: #C594C5;
}
.token.attr-name {
  color: #F99157;
}
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #5FB3B3;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
  color: #99C794;
}

.token.statement,
.token.regex,
.token.atrule {
  color: #5FB3B3;
}

.token.placeholder,
.token.variable {
  color: #6699CC;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #D8DEE9;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: #EC5f67;
}

.token.entity {
  cursor: help;
}

pre > code.highlight {
  outline: .4em solid #EC5f67;
  outline-offset: .4em;
}

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
.line-numbers .line-numbers-rows {
  border-right-color: #343D46;
}

.line-numbers-rows > span:before {
  color: #4F5B66;
}

/* overrides color-values for the Line Highlight plugin
 * http://prismjs.com/plugins/line-highlight/
 * alpha transparency in 8 digits hex notation coming to a browser near you soon:
 * https://drafts.csswg.org/css-color/#hex-notation
 */
.line-highlight {
  background: #C0C5CE33;
  background: linear-gradient(to right, #C0C5CE33 70%, #C0C5CE00);
}
